// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// FILTERS
//// --------------------------------------------------------------------------

.filters {
	a {
		color: theme.$color-01;
	}
	.filter {
		.filter-header {
		}
		.filter-options {
			.filter-list {
				.filter-list-option {
					&.is-active {
						.filter-list-link {
							color: theme.$color-04;
							font-weight: theme.$font-weight;
						}
					}
					.filter-list-link {
						.value-count {
							font-size: mixins.em(12px, rem);
						}
					}
				}
			}
		}
	}
}
