// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// CARD LISTING
//// --------------------------------------------------------------------------

.cards {
	margin: 0 -#{theme.$spacing-x2};
	.card {
		@include mixins.flex-parent(align-items, flex-start);
		padding: 0 theme.$spacing-x2;
		margin: 0 0 theme.$spacing-x4 0;		
		width: calc(100% / theme.$per-row-sm);
		@include mixins.card-order(theme.$page-size, theme.$per-row-sm);
		&, .card-image, .card-details {
			@include mixins.flex(0 1 auto);
		}
		.card-image {
			width: 100px;
			position: relative;
			line-height: 0;
			margin: 0 theme.$spacing-x4 0 0;
			img {
				max-width: 100%;
				max-height: 100%;
				@include mixins.sizing(auto, auto);
				border: 0;
				display: block;
			}
		}
		.card-details {
			& > p {
				margin: 0 0 theme.$spacing-x1 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.card-details-collected {
				.icon-wrapper {
					&.is-collected {
						.icon {
							fill: theme.$color-04;
						}
					}
				}	
			}
		}
	}
}

@include mixins.respond-min(theme.$bp-02) {
	.cards {
		.card {
			width: calc(100% / theme.$per-row-md);
			@include mixins.card-order(theme.$page-size, theme.$per-row-md);
		}
	}
}

@include mixins.respond-min(theme.$bp-03) {
	.cards {
		.card {
			width: calc(100% / theme.$per-row-lg);
			@include mixins.card-order(theme.$page-size, theme.$per-row-lg);
		}
	}
}

//// QUICK VIEW
//// --------------------------------------------------------------------------

.quick-view {
	flex: 1 1 100%;
	@include mixins.quick-view-order(theme.$page-size, theme.$per-row-sm, theme.$quick-view-sm);
	@include mixins.toggle-content(collapsed, true);
	&.is-expanded {
		@include mixins.toggle-content(expanded, true);
	}
}

@include mixins.respond-min(theme.$bp-02) {
	.quick-view {
		@include mixins.quick-view-order(theme.$page-size, theme.$per-row-md, theme.$quick-view-md);
	}
}

@include mixins.respond-min(theme.$bp-03) {
	.quick-view {
		@include mixins.quick-view-order(theme.$page-size, theme.$per-row-lg, theme.$quick-view-lg);
	}
}