// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// FLEX
//// --------------------------------------------------------------------------

.flex-wrap {
	@include mixins.flex-layout(row wrap);
}

.flex-nowrap {
	@include mixins.flex-layout(row nowrap);
}

.flex-align-center {
	@include mixins.flex-parent(align-items, center);
}

.flex-justify-center {
	@include mixins.flex-parent(justify-content, center);
}

//// MAIN LAYOUT
//// --------------------------------------------------------------------------

.layout {
	.layout-row {
		margin: 0 -#{theme.$spacing-x4};
		.layout-column {
			padding: 0 theme.$spacing-x4;
		}
		.layout-sidebar {
			@include mixins.flex(0 1 auto);
			width: 200px;
		}
		.layout-content {
			@include mixins.flex(1 1 0%);
		}
	}
}

//// LIST
//// --------------------------------------------------------------------------

.list {
	.list-item {
		margin: 0 0 theme.$spacing-x1 0;
		&:last-child {
			margin-bottom: 0;
		}
		&.is-active {
			.list-link {
				color: theme.$color-04;
				font-weight: theme.$font-weight;
			}
		}
	}
}