// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// FILTERS
//// --------------------------------------------------------------------------

.filters {
	.filter {
		margin: 0 0 theme.$spacing-x6 0;
		&:last-child {
			margin-bottom: 0;
		}
		.filter-header {
		}
		.filter-options {
			.list {
				.list-item {
					.list-link {
						.value-count {
							font-size: mixins.em(12px, rem);
						}
					}
				}
			}
		}
	}
}
